@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #000; /*You need a backgroundcolor of black, otherwise you will see the white default-background on phones when looking at the bottom of the swiper! */
}

img{
    width: 100%;
    height: auto;
}

/**************/
/*** --- Start Navigation --- ***/

nav{
    box-shadow: 0 0.125rem 0.25rem 0 rgb(255 255 255 / 11%); /*Creates a very nice white-shadow below nav. */
    background: #141622; /* Background-Color of the navigation. */
    position: fixed;
    z-index: 1058; /*You need this, otherwise the "position: fixed"-property does not work. */
    width: 100vw; /* This is needed, othwerwise the Nav-bar does not take the whole screen-width. */
}

.ul-navi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #f8f8f2;
    font-size: 16.17px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.ul-navi li {
    margin: 15px;
    text-decoration: none;
    list-style-type: none;
}


.ul-navi li:last-child {
    padding-right: 15px;
}

.house-svg {
    height: 3vh;
    fill: #f76497;
}
/**************/

/*** --- Start of Swiper-Styles --- ***/

.swiper-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    position: relative;
    display: flex;
}

.swiper-container .swiper-slide {
    background: #ccc;
    display: grid;
    place-items: center;
    place-content: center;
    color: #fff;
    font-size: 60px;
    min-width: 100%;
}

.img-swiper{
    object-fit: cover;
}

.swiper-slide h1 {
    font-size: min(100px, calc(3rem+20px));
    width: 90%;
    text-align: center;
    margin: 1.5rem auto; /* Bringt mehr Luft zwischen Button & Titel. */
}

.swiper-slide button {
    background: transparent;
    border: 2.5px solid #fff;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    padding: 0.8rem 1.4rem;
    outline: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.centered-text {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

/* - Responsiveness of Slider - */

@media screen and (max-width: 450px){
    .swiper-slide h1{
        font-size: min(27px, calc(2rem + 10px)); /* ! Bemerkung: dies ist ein dynamischer Text-Font =) */
        width: 85vw;
    }
}


@media screen and (min-width: 992px){
    .swiper-slide button{
        font-size: 1.05rem;
    }
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.swiper-button-prev {
    color: #fff !important;
}
  
.swiper-button-next {
   color: #fff !important;
}

.swiper-button-next::after, .swiper-button-prev::after { /* Hiermit legst du die Grösse der beiden Pfeile des Sliders fest. */
    font-size: 1.3rem !important;
}

.swiper-slide p {
    font-size: 2.35rem;
    width: 90vw;
    margin: 1.5rem auto;
    font-weight: bold;
}

.blockquote {
    text-align:justify;
}

.center-this-quote {
    text-align: center;
}

/**************/

/*** --- Start Einzel-Vorstellung Sektion --- ***/

.flex-centering-wrapper{
    background-color: #141622;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 980px){ 
    .flex-centering-wrapper {
        height: 100vh;
        padding: 90px 80px;
    }
}

.einzel-vorstellung {
    display: grid;
    grid-template-columns: 30% 1fr; /* Hier habe ich ein Grid erstellt mit 2 Spalten, wobei die 1. Spalte nur 1/3 des viewport-widths ausmacht, während die 2. Spalte den "Rest" (= 1fr) ausmacht, was grundsätzlich 2/3 entspricht. */
    grid-gap: 40px;
    color: #f8f8f2;
}

@media screen and (max-width: 980px){ 
    .einzel-vorstellung {
        grid-template-columns: repeat(1, 1fr);
    }

    .flex-centering-wrapper {
        padding: 90px 35px;
    }

    .blockquote {
        text-align: center;
    }
}

.circle-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.einzel-vorstellung h2 {
    font-size: 1.75em;
    font-weight: 300;
    margin: 20px 0 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pseudo-title-einzel-vorstellung {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff8a;
}

.flex-centering-img-wrapper{ /* In order to center an image within a Grid, I used Flex-Box. */
    display: flex;
    align-items: center;
    justify-content: center;
}

.einzel-vorstellung h3 {
    color: #98a6ad;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-size: 2.25rem;
}

.text {
    line-height: 2;
    font-weight: 400;
    font-size: 1rem;
    color: #f8f8f2;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: montserrat,sans-serif;
}

.section2 {
    background-color: #272935;
}
/**************/

/*** --- Skills-Sektion --- ***/
.zeile1-skills, .skills-grid {
    color: #f8f8f2;
    text-align: center;
}

.zeile1-skills h2 {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    line-height: 1.25;
    font-size: 2.25rem;
}

.skills-grid {
    display: grid;
    grid-template-rows: 100px 1fr;
    gap: 2rem; /* Relative to font-size of the root element. */
}

.inner-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media screen and (max-width: 660px){ 
    .inner-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-grid {
        grid-template-rows: 150px 1fr; 
    }

    .swiper-slide p { 
        width: 77vw;
        font-size: 1.65rem;
        font-weight:lighter
    }
}

@media screen and (max-width: 329px){ 
    .skills-grid {
        grid-template-rows: 250px 1fr; 
    }
}

.icons{
    fill: #f76497;
    height: 3rem;
    margin-bottom: 20px;
}

.sub-text {
    font-size: .8rem;
    line-height: 1.5;
}
/**************/

/*** --- Start Footer --- ***/
footer {
    background-color: #272935;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    color: #f8f8f2;
    padding: 90px 80px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-wrapper p {
    font-family: montserrat,sans-serif;
    font-size: small;
    padding: 10px;
}

#goUp{ /* This is a button, that's why we have alot of default-values to overwrite... */
    margin: 0;
    appearance: none;
    background-color: transparent;
    color: #f76497;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 388px) {
    .footer-wrapper {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .footer-wrapper p {
        margin-top: 35px;
    }
}

a:link, a:visited {
    text-decoration: none;
    color: #f8f8f2;
}

.up-svg {
    height: 2.5rem;
    fill: #f76497;
}

.up-svg:hover {
    color: #f76497;
}
/**************/

/**** -- Responsive Background-Images -- ****/

:root { 
	--second-swipe: url(bilder/foto2.jpg); /* ! Trick explained on this page: https://stackoverflow.com/questions/9808233/is-it-possible-to-put-css-media-rules-inline */
    --fourth-swipe: url(bilder/foto4.jpg);
    --fifth-swipe: url(bilder/foto5.jpg);
    --sixth-swipe: url(bilder/foto6.jpg);
} 

@media only screen and (max-width: 480px) {
    :root { 
		--second-swipe:  url(bilder/foto2-phone.jpg);
        --fourth-swipe: url(bilder/foto4-phone.jpg);
        --fifth-swipe: url(bilder/foto5-phone.jpg);
        --sixth-swipe: url(bilder/foto6-phone.jpg);
	}
}

@media only screen and (min-width: 481px) and (max-width: 640px){
	:root { 
        --second-swipe:  url(bilder/foto2-phone.jpg);
        --fourth-swipe: url(bilder/foto4-phone.jpg);
        --fifth-swipe: url(bilder/foto5.jpg);
        --sixth-swipe: url(bilder/foto6.jpg);
	}
}

@media only screen and (min-width: 641px) and (max-width: 1024px){
	:root { --second-swipe:  url(bilder/foto2-tablet.jpg);
        --fourth-swipe: url(bilder/foto4.jpg);
        --fifth-swipe: url(bilder/foto5.jpg);
        --sixth-swipe: url(bilder/foto6.jpg);
	}
}
/** -- ENDE Responsive Background-Images -- **/